<!--/* TODO#2-5 index 페이지 입니다. 해당 페이지에 작성된 내용은 /resources/templates/layout/index/layout.html 레이아웃의
content fragment에 해당되는 곳에 추가 됩니다.
    - thymeleaf layout 관련해서는 아래 문서를 참고하세요
        + https://github.com/ultraq/thymeleaf-layout-dialect?tab=readme-ov-file
        + https://ultraq.github.io/thymeleaf-layout-dialect/
    - layout을 사용하기 위해서는 미리 지정된 layout을 html tag에 아래와 같이 설정 합니다.
        + layout:decorate="@{/thymelaf/layout/index/layout.html}" : index layout을 지정 합니다.
*/-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="@{/thymelaf/layout/index/layout.html}">
    <head>
        <title>blog - index - page</title>
    </head>

    <body>
    <div layout:fragment="content" th:if="${param} == ">
        <article class="blog-post" th:each="listPost : ${postResponseList}">
            <h2 class="display-5 link-body-emphasis mb-1" th:text="${listPost.postTitle}"></h2>
            <p class="blog-post-meta">생성일자 : <span th:text="${#temporals.format(listPost.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
            <p class="blog-post-meta">작성자 : <span th:text="${listPost.blogFid}"></span></p>
            <p>루트 카테고리 : <span th:text="${listPost.parentCategoryName}"></span></p>
            <p>서브 카테고리 : <span th:text="${listPost.categoryName}"></span></p>
            <p>토픽 : <span th:text="${listPost.topicName}"></span></p>
            <p th:text="${listPost.postContent}"></p>
        </article>
    </div>
    </body>
</html>